
body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.loader {
  z-index: 2;
  position: fixed;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background: rgb(59, 36, 59);
  background: linear-gradient(
    90deg,
    rgb(103, 33, 107) 0%,
    rgb(45, 5, 57) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(109, 255, 153) 0%,
    rgb(0, 255, 136) 100%
  );
  animation: jump 5s forwards ease-in-out;
}
.loader-text {
    top: 52vh;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.shadow {
    position: absolute;
    top: 52vh;
    background: rgba(0, 0, 0, 0.5);
    height: 5px;
    width: 60px;
    filter: blur(5px);
    border-radius: 40%;
}
.dot {
    font-size: 2.5rem;
    animation: fadeIn 1s ease-in-out infinite;
}
.container {
    opacity: 0;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out 5s forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes jump {
    0%{
        transform: translateY(10px);
    }
    25% {
        transform: translateY(-40px);
        height: 40px;
    }
    50%{
        transform: translateY(10px);
        height: 35px;
    }
    80%{
        transform: translateY(-40px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    100%{
        border-radius: 0;
        width: 100%;
        height: 100vh;
    }
}